// nextflow.config

// Default parameters section
params {
    reads = '/mnt/*.bam' // Default path for input reads
    outdir = '/mnt/processed_results'        // Default output directory
    reference = "${baseDir}/chainLamp_consensus.fasta"
    base_dir = '/mnt/demuxed_reads'
    samplesheet = '20240607_hiv.csv'
    minlength = 100
    maxlength = 5000
    quality_filter = 20
}

// Default process settings
process {
    executor = 'local' // Use the local executor
    memory = { "${(Runtime.runtime.maxMemory() / (1024 * 1024)).intValue()} MB" } // Use available memory
    cpus = 4           // Default number of CPUs
}
